# ESP-IDF
**/build/
**/build_*_*/
**/sdkconfig
**/sdkconfig.old

##############################
### RIOT OS
### https://github.com/RIOT-OS/RIOT/blob/master/.gitignore

# Object files
*.o
# Target files
*.elf
# Documentation artifacts
doc/doxygen/html
doc/doxygen/latex
doc/doxygen/man
doc/doxygen/*.log
doc/doxygen/*.db
doc/doxygen/*.tmp
# bin (e.g.:build directory) and .bin files
bin
*.bin
# Build directory
/build
# AFL findings
fuzzing/**/findings/
# Backup files
*~
*.orig
.*.swn
.*.swo
.*.swp
*.save
*.rej
\#*\#
cachegrind.out*
# Eclipse workspace files
.project
.cproject
.settings
.idea
# KDevelop4 project files
.kdev4
*.kdev4
# Codelite (among others) project files
*.project
# ctags index files
tags
# GDB initialization scripts
.gdbinit
# GDB history (when using gdb-dashboard)
.gdb_history

# Eclipse symbol file (output from make eclipsesym)
eclipsesym.xml
/toolchain
# Ignore created Arduino sketch files
_sketches.cpp

# local override files
Makefile.local

# Vagrant
.vagrant

# clang-complete command line argument lists (Vim: clang-complete, Atom: linter-clang, autocomplete-clang addons)
.clang_complete
# YouCompleteMe (https://github.com/Valloric/YouCompleteMe)
.ycm_extra_conf.py

# Python compiled files
*.pyc

# Ignore download cache
.dlcache

# scan-build artifacts
scan-build/

# compile_and_test_for_boards default "results" directory
results/

# mypy artifacts
.mypy_cache/

# Clangd compile flags (language server)
compile_commands.json
compile_flags.txt

# cache files of clangd (and probably other tools)
.cache/

# generated by clang-check for C++ code
*.plist

# suit manifest keys
keys/

# clangd language server
.clangd/

# custom clang-tidy flags, also used when using clangd language server
.clang-tidy

# Environments
.venv
venv/

# End of https://github.com/RIOT-OS/RIOT/blob/master/.gitignore

##############################
### ESP-IDF
### https://github.com/espressif/esp-idf/blob/master/.gitignore

.config
*.o
*.pyc

# gtags
GTAGS
GRTAGS
GPATH

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#

# eclipse setting
.settings

# MacOS directory files
.DS_Store

# cache dir
.cache/

# Doc build artifacts
docs/_build/
docs/doxygen_sqlite3.db

# Downloaded font files
docs/_static/DejaVuSans.ttf
docs/_static/NotoSansSC-Regular.otf

# Components Unit Test Apps files
components/**/build/
components/**/build_*_*/
components/**/sdkconfig
components/**/sdkconfig.old

# Example project files
examples/**/build/
examples/**/build_*_*/
examples/**/sdkconfig
examples/**/sdkconfig.old

# Unit test app files
tools/unit-test-app/build
tools/unit-test-app/build_*_*/
tools/unit-test-app/sdkconfig
tools/unit-test-app/sdkconfig.old

# test application build files
tools/test_apps/**/build/
tools/test_apps/**/build_*_*/
tools/test_apps/**/sdkconfig
tools/test_apps/**/sdkconfig.old

TEST_LOGS/
build_summary_*.xml

# gcov coverage reports
*.gcda
*.gcno
coverage.info
coverage_report/

test_multi_heap_host

# VIM files
*.swp
*.swo

# Sublime Text files
*.sublime-project
*.sublime-workspace

# Clion IDE CMake build & config
.idea/
cmake-build-*/

# Results for the checking of the Python coding style and static analysis
.mypy_cache
flake8_output.txt

# ESP-IDF default build directory name
build

# lock files for examples and components
dependencies.lock

# managed_components for examples
managed_components

# pytest log
pytest-embedded/
# legacy one
pytest_embedded_log/
list_job*.txt
size_info*.txt
XUNIT_RESULT*.xml
.manifest_sha

# clang config (for LSP)
.clangd

# Vale
.vale/styles/*

# End of https://github.com/espressif/esp-idf/blob/master/.gitignore

##############################
# Created by https://www.toptal.com/developers/gitignore/api/vim,visualstudiocode,c,c++,ninja,cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=vim,visualstudiocode,c,c++,ninja,cmake

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
#Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
CMakeUserPresets.json

# External projects
*-prefix/

### Ninja ###
.ninja_deps
.ninja_log

### Vim ###
# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/*_properties.json.template

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/vim,visualstudiocode,c,c++,ninja,cmake
##############################
